<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="telephone=no" name="format-detection" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>登录</title>
    <link rel="stylesheet" href="css/style.css"/>
	<script src="js/jquery-1.12.4.1.js"></script>
	<script src="js/md5.js"></script>
	<script src="js/Skinning.js"></script>
</head>
<body id="body">
	<div class="contain" skinstyle="0">
		<div class="skim"></div>	
		<div id="data">2016-11-13</div>
		<div class="hided">
			<a class="log" ></a>
			<input class="pass patx" id="passWord" type="password" placeholder="密码:"/>
			<input class="text patx" id="userName" type="text" placeholder="用户名:"/>
		</div>
		<span class="liney"></span>
	</div>
	<div id="bgsk">
		<img name="3-green-1" class="last" src="Images/skin0.png" value="0">
		<img name="1-#268fc8-1" class="ce" src="Images/skin1.png" value="1">
		<img class="fr" src="Images/skin2.png" value="2">
		<img class="fr ce" src="Images/skin3.png" value="3">
		<img class="fr" src="Images/skin4.png" value="4">
		<img name="2-gray-2" src="Images/skin5.png" value="5">
	</div>
	<div id="out"></div>
</body>
</html>